<div class="crm-container">

  <app-personel-form [seciliPersonel]="seciliPersonel"
                     (formGonder)="formdanGelenVeriyiKaydet($event)"
                     (formIptal)="vazgecildi()">
  </app-personel-form>

  <div class="card">
    <input type="text" [(ngModel)]="aramaMetni" placeholder="Ara...">

    <app-personel-list [personeller]="personeller"
                       [aramaMetni]="aramaMetni"
                       (secildi)="personelSec($event)"
                       (silindi)="personelSil($event)">
    </app-personel-list>
  </div>

</div>
