<nav class="navbar">
  <ul style="display: flex; gap: 20px; list-style-type: none; margin: 0; padding: 0; align-items: center; width: 100%;">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ana Sayfa</a>
    </li>
    <li>
      <a routerLink="/personel" routerLinkActive="active">Personeller</a>
    </li>

    <li style="margin-left: auto; display: flex; align-items: center; gap: 10px;">

      <span *ngIf="authService.isLoggedIn()" style="color: green; font-weight: bold;">Aktif Oturum</span>

      <button *ngIf="!authService.isLoggedIn()" (click)="authService.login()" class="btn btn-primary">Giriş Yap</button>
      <button *ngIf="authService.isLoggedIn()" (click)="authService.logout()" class="btn btn-danger">Çıkış Yap</button>

    </li>
  </ul>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
